{% include base_path %}

<!-- Follow section removed -->

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}<br />
  Site last updated {{ "now" | date: '%Y-%m-%d' }} | 
  <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fagr19.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=visits&edge_flat=false" alt="Visitor Count" style="display: inline; vertical-align: middle;">
</div>
